
<div class="container">

  <div class="row">

    <div class="col-md-3"></div>

      <div class="login-form col-md-6">

        <h2 class="title"><strong>Login Here</strong></h2>

           <%= render partial: '/sessions/form' %>

        </div>

      </div>

    <div class="col-md-3"></div>

  </div>

  