
<div class="container-full-bg">

<div class="jumbotron text-light vertical-center" style="margin-bottom: 0; margin-top: 0; background-image: url( earth.png); ">
	
  <br>
  <br>
  <br>
  
  <h1 class="display-4 ">About Medius</h1>
  <p class="lead ">Expanding your media</p>
  <hr class="my-4">
  <div class="text-container" >
  <p class="text-justify">With an array of experts, academics, and former world leaders composing our extensive network of commentators, we are here to enrich your understanding of the most important topics affecting your world.  In a time when we primarily consume our media digitally and have a harder time ascertaining the credibility or accountability of those outlets, we want to enable our users to field their questions directly to those most knowledgeable about the news that interests them.  Our goal isn't to slap a letter grade or numeric score that correlates to facticity or trustworthiness on the articles you share; rather, it is to enlist experts to provide you with resources -- be they literature, journal articles, documentaries, or links to primary documents -- to cultivate your understanding of these issues and empower you to make those assessments yourself.  Now, when academia is becoming increasingly cloistered from the public arena, we lay down the tracks to connect them, so you know what the current scholarship indicates and is built upon.  By dismantling these barriers, it's our hope to furnish a more informed, critical, and curious citizenry.</p>
  </div>

</div>


</div>

<style >

.jumbotron {
	background-size: cover, contain;
	height: 100vh;
	margin-bottom: 30vh;
	font-weight: bold;
	
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  
  align-items: center;
  padding-left: 15%;
  padding-right: 15%;

  text-align: center
  
}

.text-justify{

	text-align: justify;
	color: rgb(255,255,255,0.9);
}

.text-container {

	background-color: rgb(0,0,0,0.5);
	padding: 20px;


}
</style>


<!-- All you need to do is share a link to your favourite news and our experts will point you to resources which are relevent to the news posted. The resources allows you to understand the history and context to a particular news with regards to the current narative -->
