<div class="jumbotron w3-container" style="margin-bottom: 0; margin-top: 0; background-image: url( world.png); ">
	
  <h1 class="display-4">Facts Please</h1>
  <p class="lead">We are all about making news inteligent. </p>
  <hr class="my-4">
  <p>With a army of experts, academics and former world leaders part of our extensive network of commentators, we make sure your news gets substantiated.</p>
  

</div>


<!-- All you need to do is share a link to your favourite news and our experts will point you to resources which are relevent to the news posted. The resources allows you to understand the history and context to a particular news with regards to the current narative -->
