<%= form_for @article, url: {action: "create"} do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% elsif current_user.signed_in? %>

    <% form.label :link %>
    <% form.text_field :link, class: "form-control mr-sm-1 field" %>

  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<!-- t.string "title"
t.string "link"
t.string "tags", array: true
t.boolean "is_active" -->
