<% if signed_in? %>
  <div class="post-new-article">
    <div data-toggle="modal", data-target="#addarticleModal", class="btn btn-danger">New Article</div>
      <%= render 'articles/form', article: Article.new %>
  </div>
<% else %>
  <div class="post-new-article">
    <div data-toggle="modal", data-target="#addarticleModal", class="btn btn-danger">New Article</div>
  </div>
  <div id="addarticleModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Sign in or Sign up!</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <p>You have to be logged in to continue!</p>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
