

<div class="jumbotron w3-container " style="margin-bottom: 30px; margin-top: 0; background-image: url( KL.png); ">
	
  <h1 class="display-4">Real News Matter</h1>
  <p class="lead">Important news should be substantiated</p>
  <hr class="my-4">
  <p>xxxxx</p>
  

</div>
<!-- render page --><!-- render page --><!-- render page --><!-- render page --><!-- render page -->


<%= render template: "articles/index" %>

