@import "bootstrap";
@import "forms";
@import "users";
@import "articles";


.navbar{
	margin-bottom: 0px ;
}
.main {
	margin-top: 5%;
}

 .popover {
        width: 300px !important;
        top: 0px !important;
    }
.li-centering-navbar {
	display: flex;
	justify-content: center;
	align-items: center;
}


/*.btn-default {

	margin-left: 5px
}
*/