@import "bootstrap";
@import "forms";
@import "users";
@import "articles";


html,body{
	font-family: 'Noticia Text', serif;
}

body {
	padding-top: 70px;
}

.main {
	margin-top: 5%;
}

 .popover {
        width: 300px !important;
        top: 0px !important;
    }

.li-centering-navbar {
	display: flex;
	justify-content: center;
	align-items: center;
}


.post-new-article {
	margin-top: 20px;
	margin-bottom: 20px;

}

.img-fluid.rounded.mx-auto.d-block{
	height: 260px;
}
