@import "bootstrap";
@import "forms";
@import "users";
@import "articles";


html,body{
	font-family: 'Noticia Text', serif;
}

.navbar{
	margin-bottom: 0px ;
}

.main {
	margin-top: 5%;
}

 .popover {
        width: 300px !important;
        top: 0px !important;
    }
/*
 li.dropdown:last-child.dropdown-menu {
  right: 0;
  left: auto;
}*/

.post-new-article {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.img-fluid.rounded.mx-auto.d-block{
	height: 200px;
}

