
@-webkit-keyframes autofill {
    to {
        color: #666;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

::placeholder {
    color: #e6e6e6 !important;
    opacity: 1; 
}

label.required:after {
    content: " *";
    
}


.login-form{
	margin-top: 60px;
	box-shadow: 0px 0px 10px 1px grey;
	border-radius: 5px;
	padding-bottom: 20px;
	
}

.title{
	background: cornflowerblue;
	padding: 10px;
	text-align: center;
	color:#fff;
	border-radius: 0px 0px 10px 10px;
}


.btn-file {
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    cursor: pointer; 
   
}

.btn-file:hover {
	color: grey;
}












